{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<h1>Articles</h1>
{% if articles %}
<table id="articles" class="table table-striped">
<thead>
<tr>
    <th>Articles</th>
    <th>Designation</th>
    <th>Prix</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for article in articles %}
    <tr>
        <td>{{article.designation}}</td>
        <td>{{article.Description}}</td>
        <td>{{article.prix}} dt</td>
        <td>
            <a href="/article/{{article.id}}" class="btn btn-primary">Détails</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
    <p>Aucun Articles</p>
{% endif %}


{% endblock %}
